<%= simple_form_for [@post, @comment], remote: true do |f| %>
  <div class="form-group">
    <%= f.input :title %>
    <%= f.input :body %>
  </div>
    <%= f.submit "Submit Your Comment", class: "btn btn-primary", data: {disable_with: "Saving..."} %>
<% end %>
