<div class="jumbotron">
        <h1 class="pull-right">
            <!-- <%= fa_icon("quote-left") %> -->
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= fa_icon("quote-right") %>
        </h1>
        <p style="text-align: right;">
          ...blog &nbsp;
        </p>
</div>
  <p style="text-align: center;">
    <%= link_to "Enter the Site", posts_path, class: "btn btn-danger btn-lg" %>
  </p>
