<div class="page-header">
  <h2><small>ALL</small> Posts </h2>
</div>

<% @posts.each do |post| %>
  <div class="well">
  <%= link_to post.title, post_path(post) %>
  </div>
<% end %>

<nav>
    <%= paginate @posts %>
</nav>
